In [1]:
from shapely.geometry import Point
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
from math import sin,cos,sqrt, asin, radians

In [2]:
trips=pd.read_csv(r'C:\Users\Chris\NSSFiles\Python\Projects\nashville_scooters-panthers\trips_clean.csv')

In [3]:
# trips['geometry_start'] = trips.apply(lambda x: Point((float(x.startlongitude),
#                                                 float(x.startlatitude))),
#                                axis=1)
# trips.head(3)

In [4]:
# trips['geometry_end'] = trips.apply(lambda x: Point((float(x.endlongitude),
#                                                 float(x.endlatitude))),
#                                axis=1)
# trips.head(3)

In [5]:
str(trips['startlongitude'])

'0        -86.774700\n1        -86.812000\n2        -86.821000\n3        -86.780100\n4        -86.784900\n            ...    \n485217   -86.776118\n485218   -86.783156\n485219   -86.782424\n485220   -86.797408\n485221   -86.774665\nName: startlongitude, Length: 485222, dtype: float64'

In [6]:
str(trips['endlongitude'])

'0        -86.790500\n1        -86.796500\n2        -86.820900\n3        -86.778900\n4        -86.772800\n            ...    \n485217   -86.776930\n485218   -86.769945\n485219   -86.770052\n485220   -86.781322\n485221   -86.774464\nName: endlongitude, Length: 485222, dtype: float64'

In [7]:
# trips['start_loc']=trips.startlongitude.astype(str)+ " , " + trips.startlatitude.astype(str)

In [8]:
# trips['end_loc']=trips.endlongitude.astype(str)+ " , " + trips.endlatitude.astype(str)
trips.head()

,triptime_mins,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,23,2019-07-05 00:52:15.427,Bird,BRD5038,PoweredJSUHU,23.0,10170.60400,2019-07-05,00:28:50.02,2019-07-05,00:52:15.836666,36.1569,-86.7747,36.1621,-86.7905,"[(36.156982, -86.774668), (36.156982, -86.7746...",2019-07-06 05:30:29.1
1,17,2019-07-05 00:52:15.427,Bird,BRD5035,PoweredF6ICZ,17.0,11811.02400,2019-07-05,00:35:30.596666,2019-07-05,00:52:30.286666,36.1458,-86.8120,36.1511,-86.7965,"[(36.145806, -86.811976), (36.145702, -86.8119...",2019-07-06 05:30:29.01
2,3,2019-07-05 01:57:17.87,Bird,BRD5200,PoweredWDDU6,3.0,331.36484,2019-07-05,01:54:14.993333,2019-07-05,01:57:20.093333,36.1550,-86.8210,36.1550,-86.8209,"[(36.155046, -86.820902), (36.154976, -86.8210...",2019-07-06 05:30:33.017
3,49,2019-07-05 00:52:15.427,Bird,BRD5044,PoweredX7FAH,49.0,1968.50400,2019-07-05,00:03:49.11,2019-07-05,00:52:34.18,36.1649,-86.7801,36.1652,-86.7789,"[(36.164985, -86.780082), (36.165047, -86.7798...",2019-07-06 05:30:29.31
4,21,2019-07-05 00:52:15.427,Bird,BRD5036,PoweredU6RIG,21.0,7217.84800,2019-07-05,00:32:45.483333,2019-07-05,00:53:37.836666,36.1521,-86.7849,36.1581,-86.7728,"[(36.152248, -86.785001), (36.152092, -86.7845...",2019-07-06 05:30:29.04

In [9]:
bus_stops = pd.read_csv(r"C:\Users\Chris\NSSFiles\Python\Projects\nashville_scooters-panthers\Bus_Stops.csv")
print(bus_stops.shape)
bus_stops.head

(88, 8)

<bound method NDFrame.head of     Stop ID Number Stop Abbreviation                           Stop Name  \
0             4418           MCC4_20     MUSIC CITY CENTRAL 4TH - BAY 20
1             4422            MCC5_6      MUSIC CITY CENTRAL 5TH - BAY 6
2             4249              21WE       21ST AVE PAST WEST END AVE SB
3             4184             MCSMJ  MUSIC CITY STAR MT. JULIET STATION
4             4425            MCC5_8      MUSIC CITY CENTRAL 5TH - BAY 8
..             ...               ...                                 ...
83            4185             MCSMS    MUSIC CITY STAR MARTHA'S STATION
84            4430            MCC5_7      MUSIC CITY CENTRAL 5TH - BAY 7
85            5053            DRCRPR            DRAKES CREEK PARK-N-RIDE
86            4249              21WE       21ST AVE PAST WEST END AVE SB
87            4431           MCC5_11     MUSIC CITY CENTRAL 5TH - BAY 11

    Bench  Shelter  Line Number               Line Name  \
0   False     True           94     CLARKSVILLE EXPRESS
1    True     True           94     CLARKSVILLE EXPRESS
2   False    False           87        GALLATIN EXPRESS
3    True     True           90         MUSIC CITY STAR
4   False     True           92  HENDERSONVILLE EXPRESS
..    ...      ...          ...                     ...
83   True     True           90         MUSIC CITY STAR
84   True     True           88         DICKSON EXPRESS
85  False    False           92  HENDERSONVILLE EXPRESS
86  False    False           92  HENDERSONVILLE EXPRESS
87  False     True           95     SPRING HILL EXPRESS

            Mapped Location
0   (36.166545, -86.781895)
1   (36.166501, -86.781233)
2   (36.149489, -86.800523)
3   (36.199912, -86.517904)
4   (36.166768, -86.781424)
..                      ...
83  (36.229824, -86.425658)
84  (36.166804, -86.781446)
85  (36.312976, -86.611232)
86  (36.149489, -86.800523)
87   (36.16659, -86.781996)

[88 rows x 8 columns]>

In [10]:
bus_stops[['Latitude','Longitude']] = bus_stops['Mapped Location'].str.split(",", expand=True)

In [11]:
bus_stops['Latitude'] = bus_stops['Latitude'].str.strip("(")
bus_stops['Longitude'] = bus_stops['Longitude'].str.strip(")")

In [12]:
# bus_stops['geometry'] = bus_stops.apply(lambda x: Point((float(x.Longitude),
#                                                 float(x.Latitude))),
#                                axis=1)
bus_stops.head(3)

,Stop ID Number,Stop Abbreviation,Stop Name,Bench,Shelter,Line Number,Line Name,Mapped Location,Latitude,Longitude
0,4418,MCC4_20,MUSIC CITY CENTRAL 4TH - BAY 20,False,True,94,CLARKSVILLE EXPRESS,"(36.166545, -86.781895)",36.166545,-86.781895
1,4422,MCC5_6,MUSIC CITY CENTRAL 5TH - BAY 6,True,True,94,CLARKSVILLE EXPRESS,"(36.166501, -86.781233)",36.166501,-86.781233
2,4249,21WE,21ST AVE PAST WEST END AVE SB,False,False,87,GALLATIN EXPRESS,"(36.149489, -86.800523)",36.149489,-86.800523

In [13]:
bus_stops[['Latitude','Longitude']]=bus_stops[['Latitude','Longitude']].astype(float)

In [14]:
trips=trips[trips['tripdistance']<=5280]

In [15]:
trips.drop_duplicates(subset=['triprecordnum','sumdid'],inplace=True)

In [16]:
bus_stops.drop_duplicates(subset=['Stop ID Number','Stop Abbreviation'],inplace=True)

In [17]:
trips.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307429 entries, 2 to 485219
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   triptime_mins   307429 non-null  int64
 1   pubtimestamp    307429 non-null  object
 2   companyname     307429 non-null  object
 3   triprecordnum   307429 non-null  object
 4   sumdid          307429 non-null  object
 5   tripduration    307429 non-null  float64
 6   tripdistance    307429 non-null  float64
 7   startdate       307429 non-null  object
 8   starttime       307429 non-null  object
 9   enddate         307429 non-null  object
 10  endtime         307429 non-null  object
 11  startlatitude   307429 non-null  float64
 12  startlongitude  307429 non-null  float64
 13  endlatitude     307429 non-null  float64
 14  endlongitude    307429 non-null  float64
 15  triproute       307429 non-null  object
 16  create_dt       307429 non-null  object
dtypes: float64(6), int64(1), object(10)
memory usage: 42.2+ MB

In [18]:
def Haversine(lat1:float,lon1:float,lat2:float,lon2:float):

    R=20925721.78 #radius in feet
    
    latr1 = radians(lat1)
    lonr1 = radians(lon1)
    latr2 = radians(lat2)
    lonr2 = radians(lon2)
    
    dlon = lonr2-lonr1
    dlat = latr2-latr1
   
    a = (sin(dlat / 2)**2) + (cos(latr1)) * (cos(latr2)) * (sin(dlon / 2)**2)
    c =2 * asin(sqrt(a))
    dist= R * c
    
    return dist

In [19]:
trips_dict = trips.to_dict('records')
stops_dict = bus_stops.to_dict('records2')

last_mile = []

for r in trips_dict:
    for row in stops_dict:
        dist1=Haversine(r['startlatitude'],r['startlongitude'],row['Latitude'],row['Longitude'])
        dist2=Haversine(r['endlatitude'],r['endlongitude'],row['Latitude'],row['Longitude'])
        if dist1 <=250:
            temp_dict = {
                'Bus Stop':row['Stop ID Number'],
                'Trip ID' :r['triprecordnum'],
                'Scooter ID':r['sumdid'],
                'StartLat':r['startlatitude'],
                'StartLong':r['startlongitude'],
                'Start to Bus':dist1
            }
            last_mile.append(temp_dict)

        if dist2 <=250:
            temp_dict = {
                'Bus Stop':row['Stop ID Number'],
                'Trip ID':r['triprecordnum'],
                'Scooter ID':r['sumdid'],
                'EndLat':r['endlatitude'],
                'EndLong':r['endlongitude'],
                'End To Bus':dist2
            }
            last_mile.append(temp_dict)
        bus_stop += 1

C:\Users\17046\AppData\Local\Temp\ipykernel_8228\263387538.py:2: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  stops_dict = bus_stops.to_dict('records2')

In [20]:
trips_complete = pd.DataFrame(last_mile)
trips_complete.to_csv('Trips_Complete_Final_Fantasy.csv')