In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
database_name = 'scooters'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [ ]:
engine = create_engine(connection_string)

In [ ]:
Q_1 = '''
SELECT *
FROM scooters3
'''

with engine.connect() as connection:    
    Q1 = pd.read_sql(text(Q_1), con = connection)

In [ ]:
Q_2 = '''
SELECT companyname AS company, TO_CHAR (pubtimestamp, 'YYYY-MM-DD') AS date, triprecordnum AS tripid, sumdid, tripduration AS triptime,
    tripdistance, startdate, starttime, enddate, endtime, startlatitude, startlongitude, endlatitude, endlongitude
FROM trips
WHERE tripduration BETWEEN 1 AND 1440
'''

with engine.connect() as connection:    
    Q2 = pd.read_sql(text(Q_2), con = connection)

In [ ]:
Q1.columns = ['company','date','sumdid']
Q1

In [ ]:
#Bird
qbird = '''
SELECT	DISTINCT to_char AS date,
		COUNT(DISTINCT sumdid) Bird
FROM scooters3
WHERE companyname LIKE 'Bird'
GROUP BY to_char
'''

with engine.connect() as connection:    
    bird = pd.read_sql(text(qbird), con = connection)  
    
#Bolt    
qbolt = '''
SELECT	DISTINCT to_char AS date,
		COUNT(DISTINCT sumdid) Bolt
FROM scooters3
WHERE companyname LIKE 'Bolt'
GROUP BY to_char
'''

with engine.connect() as connection:    
    bolt = pd.read_sql(text(qbolt), con = connection) 
    
#Gotcha    
qgotcha = '''
SELECT	DISTINCT to_char AS date,
		COUNT(DISTINCT sumdid) Gotcha
FROM scooters3
WHERE companyname LIKE 'Gotcha'
GROUP BY to_char
'''

with engine.connect() as connection:    
    gotcha = pd.read_sql(text(qgotcha), con = connection)
    
#Jump
qjump = '''
SELECT	DISTINCT to_char AS date,
		COUNT(DISTINCT sumdid) Jump
FROM scooters3
WHERE companyname LIKE 'Jump'
GROUP BY to_char
'''

with engine.connect() as connection:    
    jump = pd.read_sql(text(qjump), con = connection)  
    
#Lime
qlime = '''
SELECT	DISTINCT to_char AS date,
		COUNT(DISTINCT sumdid) Lime
FROM scooters3
WHERE companyname LIKE 'Lime'
GROUP BY to_char
'''

with engine.connect() as connection:    
    lime = pd.read_sql(text(qlime), con = connection)   


#Lyft
qlyft = '''
SELECT	DISTINCT to_char AS date,
		COUNT(DISTINCT sumdid) Lyft
FROM scooters3
WHERE companyname LIKE 'Lyft'
GROUP BY to_char
'''

with engine.connect() as connection:    
    lyft = pd.read_sql(text(qlyft), con = connection)     
    
#Spin    
qspin = '''
SELECT	DISTINCT to_char AS date,
		COUNT(DISTINCT sumdid) Spin
FROM scooters3
WHERE companyname LIKE 'Spin'
GROUP BY to_char
'''

with engine.connect() as connection:    
    spin = pd.read_sql(text(qspin), con = connection)

In [ ]:
#bird, bolt, gotcha, jump, lime, lyft, spin
scootbyco = bird.merge(bolt, on = 'date', how = 'outer').merge(gotcha, on = 'date', how = 'outer').merge(jump, on = 'date', how = 'outer').merge(lime, on = 'date', how = 'outer').merge(lyft, on = 'date', how = 'outer').merge(spin, on = 'date', how = 'outer')

In [ ]:
#bird, bolt, gotcha, jump, lime, lyft, spin

#Bird
tbird = '''
SELECT TO_CHAR (pubtimestamp, 'YYYY-MM-DD') date,
        COUNT (*) bird
FROM trips
WHERE tripduration >1 AND companyname ILIKE 'bird'
GROUP BY date
'''

with engine.connect() as connection:    
    tripbird = pd.read_sql(text(tbird), con = connection) 
    
#Bolt
tbolt = '''
SELECT TO_CHAR (pubtimestamp, 'YYYY-MM-DD') date,
        COUNT (*) bolt
FROM trips
WHERE tripduration >1 AND companyname ILIKE 'bolt%'
GROUP BY date
'''

with engine.connect() as connection:    
    tripbolt = pd.read_sql(text(tbolt), con = connection) 

#Gotcha
tgotcha = '''
SELECT TO_CHAR (pubtimestamp, 'YYYY-MM-DD') date,
        COUNT (*) gotcha
FROM trips
WHERE tripduration >1 AND companyname ILIKE 'gotcha'
GROUP BY date
'''

with engine.connect() as connection:    
    tripgotcha = pd.read_sql(text(tgotcha), con = connection) 

#Jump
tjump = '''
SELECT TO_CHAR (pubtimestamp, 'YYYY-MM-DD') date,
        COUNT (*) jump
FROM trips
WHERE tripduration >1 AND companyname ILIKE 'jump'
GROUP BY date
'''

with engine.connect() as connection:    
    tripjump = pd.read_sql(text(tjump), con = connection) 

#Lime
tlime = '''
SELECT TO_CHAR (pubtimestamp, 'YYYY-MM-DD') date,
        COUNT (*) lime
FROM trips
WHERE tripduration >1 AND companyname ILIKE 'lime'
GROUP BY date
'''

with engine.connect() as connection:    
    triplime = pd.read_sql(text(tlime), con = connection) 
    
#Lyft
tlyft = '''
SELECT TO_CHAR (pubtimestamp, 'YYYY-MM-DD') date,
        COUNT (*) lyft
FROM trips
WHERE tripduration >1 AND companyname ILIKE 'lyft'
GROUP BY date
'''

with engine.connect() as connection:    
    triplyft = pd.read_sql(text(tlyft), con = connection) 

#Spin
tspin = '''
SELECT TO_CHAR (pubtimestamp, 'YYYY-MM-DD') date,
        COUNT (*) spin
FROM trips
WHERE tripduration >1 AND companyname ILIKE 'spin'
GROUP BY date
'''

with engine.connect() as connection:    
    tripspin = pd.read_sql(text(tspin), con = connection)

In [ ]:
#bird, bolt, gotcha, jump, lime, lyft, spin
tripbyco = tripbird.merge(tripbolt, on = 'date', how = 'outer').merge(tripgotcha, on = 'date', how = 'outer').merge(tripjump, on = 'date', how = 'outer').merge(triplime, on = 'date', how = 'outer').merge(triplyft, on = 'date', how = 'outer').merge(tripspin, on = 'date', how = 'outer')
tripbyco

1. During this period, seven companies offered scooters.
a. How many scooters did each company have in this time frame?
b. Did the number for each company change over time?
c. Did scooter usage vary by company?

a. How many scooters did each company have in this time frame?

In [ ]:
scooters_by_company = Q1.groupby('company')[['sumdid']].nunique()
scooters_by_company = scooters_by_company.reset_index()
scooters_by_company = scooters_by_company.sort_values('sumdid', ascending = False)
scooters_by_company

In [ ]:
sns.set(style = 'darkgrid')
plt.bar(scooters_by_company['company'], scooters_by_company['sumdid'])
plt.title('Total Scooters by Company');

b. Did the number for each company change over time?

In [ ]:
scootbyco.set_index('date').plot()
plt.xticks(rotation = 45, fontsize = 10)
plt.title('Number of Scooters by Company over Time')
plt.xlabel('');

c. Did scooter usage vary by company?

In [ ]:
tripbyco.set_index('date').plot()
plt.xticks(rotation = 45, fontsize = 10)
plt.title('Scooter Usage by Company over Time')
plt.ylabel('trips')
plt.xlabel('');

In [ ]:
total_trips = tripbyco[['bird','bolt','gotcha','jump','lime','lyft','spin']].sum().reset_index()
total_trips.columns = ['company','total_trips']
total_trips = total_trips.sort_values('total_trips', ascending = False)
total_trips['avg_trips'] = round(total_trips.total_trips / 92)
total_trips

In [ ]:
avg_trips = total_trips[['company','avg_trips']]
avg_trips

In [ ]:
total_trips.set_index('company').plot(kind = 'bar')
plt.xlabel('')
plt.ylabel('total trips')
plt.title('Total Scooter Trips by Company');

In [ ]:
sns.barplot(data = avg_trips, x = 'company', y = 'avg_trips')
plt.title('Average Daily Trips per Company')
plt.xlabel('');

3. The goal of Metro Nashville is to have each scooter used a minimum of 3 times per day. Based on the data, what is the average number of trips per scooter per day? Make sure to consider the days that a scooter was available. How does this vary by company?

In [ ]:
scootbyco

In [ ]:
#scooter availability days
scoot_days = scootbyco[['bird','bolt','gotcha','jump','lime','lyft','spin']].sum().reset_index()
scoot_days.columns = ['company','scootdays']
scoot_days

In [ ]:
avg_trips = scoot_days.merge(total_trips, on = 'company', how = 'outer')
avg_trips['avg_trips'] = avg_trips.total_trips/avg_trips.scootdays
avg_trips

In [ ]:
avg_trips