In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import geopy

In [ ]:
database_name = 'scooters'

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [ ]:
engine = create_engine(connection_string)

1. During this period, seven companies offered scooters. How many scooters did each company have in this time frame? Did the number for each company change over time? Did scooter usage vary by company?

In [ ]:
query = '''
SELECT companyname,
	COUNT (DISTINCT CASE WHEN to_char between '2019-05-01' AND '2019-05-31' THEN sumdid END) AS may,
	COUNT(DISTINCT CASE WHEN to_char between '2019-06-01' AND '2019-06-30' THEN sumdid END) AS june,
	COUNT (DISTINCT CASE WHEN to_char BETWEEN '2019-07-01' AND '2019-07-31' THEN sumdid END) AS july
FROM scooters3
GROUP BY companyname;
'''


with engine.connect() as connection:    
    num_scooters = pd.read_sql(text(query), con = connection)
num_scooters

In [ ]:
num_scooters.head(10)

In [ ]:
sns.lineplot(data=num_scooters, x="may", y="companyname")

In [ ]:
sns.lineplot(num_scooters.companyname,num_scooters.may, label = 'May', linestyle = '-')
sns.lineplot(num_scooters.companyname,num_scooters.june, label = 'June', linestyle = '--')
sns.lineplot(num_scooters.companyname,num_scooters.july, label = 'July', linestyle = '-.')
plt.style.use('seaborn')
plt.xlabel('Company Name')
plt.ylabel('Number of Scooters')

Did scooter usage vary by company?

4. What is the highest count of scooters being used at the same time? When did it occur? Does this vary by zip code or other geographic region?

In [ ]:
query = '''
SELECT *
FROM trips_clean
'''
with engine.connect() as connection:    
    trips_table = pd.read_sql(text(query), con = connection)
trips_table

In [ ]:
trips_table['pubtimestamp'] = pd.to_datetime(trips_table['pubtimestamp'], format = '%m/%d/%Y %I:%M:%S')
trips_table.head()

In [ ]:
trips_table.assign(month = trips_table['pubtimestamp'].dt.month_name()).month.value_counts()
#How many trips per month?

In [ ]:
trips_table['Weekday'] = trips_table['pubtimestamp'].dt.day_name()

In [ ]:
trips_table.head()

In [ ]:
trip_hours = trips_table['pubtimestamp'].dt.hour.value_counts()
trip_hours

In [ ]:
trip_hours.columns = ['Hour', 'Count']

In [ ]:
trip_hours

In [ ]:
trip_hours['Time'] = trips_table['pubtimestamp'].dt.day_name()

In [ ]:
trip_hours=trip_hours.drop(columns = ['Weekday'])

In [ ]:
trip_hours['Date']= trips_table['pubtimestamp'].dt.date

In [ ]:
trip_hours

In [ ]:
sns.lineplot(data=trip_hours)
plt.xlabel('Hour of Trip')
plt.ylabel('Number of Trips')
plt.title('Time Pattern of Scooter Usage')
plt.style.use('ggplot')

In [ ]:
(trips_table.groupby(pd.Grouper(key = 'pubtimestamp',
                        freq = '1h',
                        origin = 'epoch'))
['startdate'].count()
.reset_index()
.sort_values('startdate', ascending = False)
.reset_index(drop=True) 
.head(20))
#How trips vary per day per hour

In [ ]:
query = '''
SELECT scooters3.companyname,
	ROUND((SUM (DISTINCT CASE WHEN to_char between '2019-05-01' AND '2019-05-31' THEN tripduration END)/60),2) AS may,
	ROUND((SUM(DISTINCT CASE WHEN to_char between '2019-06-01' AND '2019-06-30' THEN tripduration END)/60),2) AS june,
	ROUND((SUM (DISTINCT CASE WHEN to_char BETWEEN '2019-07-01' AND '2019-07-31' THEN tripduration END)/60),2) AS july
FROM scooters3
	INNER JOIN trips_clean
	USING(sumdid)
GROUP BY scooters3.companyname;
'''

with engine.connect() as connection:    
    trip_duration = pd.read_sql(text(query), con = connection)
trip_duration

In [ ]:
sns.barplot(data = trip_duration, x = 'companyname', y = 'may')

In [ ]:
sns.lineplot(trip_duration.companyname,trip_duration.may, label = 'May', linestyle = '-')
sns.lineplot(trip_duration.companyname,trip_duration.june, label = 'June', linestyle = '--')
sns.lineplot(trip_duration.companyname,trip_duration.july, label = 'July', linestyle = '-.')
plt.style.use('seaborn')
plt.text('Bolt', 17000, '*Inconsistent data recording')
plt.xlabel('Company Name')
plt.ylabel('Hours Used Per Month')
plt.title('Trip Duration in Hours Per Company')

In [ ]:
query1 = '''
SELECT scooters3.companyname,
	ROUND((AVG (DISTINCT CASE WHEN to_char between '2019-05-01' AND '2019-05-31' THEN tripduration END)/60),2) AS may,
	ROUND((AVG(DISTINCT CASE WHEN to_char between '2019-06-01' AND '2019-06-30' THEN tripduration END)/60),2) AS june,
	ROUND((AVG (DISTINCT CASE WHEN to_char BETWEEN '2019-07-01' AND '2019-07-31' THEN tripduration END)/60),2) AS july
FROM scooters3
	INNER JOIN trips_clean
	USING(sumdid)
GROUP BY scooters3.companyname;
'''
with engine.connect() as connection:    
    avg_trip_duration = pd.read_sql(text(query1), con = connection)
avg_trip_duration

In [ ]:
type(avg_trip_duration['may'])

In [ ]:
avg_trip_duration['Month'] = ' '

for row_value, series.name in avg_trip_duration.iterrows():
    if series.name == 'may':
        avg_trip_duration.at[row_value, 'Month'] = 'May'
    if series.name == 'june':
        avg_trip_duration.at[row_value, 'Month'] = 'June'
    if series.name == 'july':
        avg_trip_duration.at[row_value, 'Month'] = 'July'
        
avg_trip_duration

In [ ]:
sns.lineplot(avg_trip_duration.companyname,avg_trip_duration.may, label = 'May',linewidth = 14, linestyle = '-')
sns.lineplot(avg_trip_duration.companyname,avg_trip_duration.june, label = 'June',linewidth = 12, linestyle = '--')
sns.lineplot(avg_trip_duration.companyname,avg_trip_duration.july, label = 'July', linewidth = 9,linestyle = '-.')
plt.style.use('seaborn')
plt.text('Bolt', 12.4, "*Inconsistent data recording")
plt.xlabel('Company Name')
plt.ylabel('Average Hours Used Per Month')
plt.title('Average Trip Duration Per Company')

In [ ]:

trip_timeframe = avg_trip_duration.loc[avg_trip_duration['Weekend'] == 'Weekday']
trip_timeframe = weekdaytrips.drop(columns = ['Weekday','Weekend'])
trip_timeframe = weekdaytrips.groupby('Hour').sum()
trip_timeframe = weekdaytrips.reset_index()
trip_timeframe['hr_bin'] = ''

for row_value, row_index in weekdaytrips.iterrows():
    if row_index['Hour'] >= 5 and row_index['Hour'] < 10:
        weekdaytrips.at[row_value,'hr_bin'] = 'AM Rush'
    if row_index['Hour'] >= 10 and row_index['Hour'] < 16:
        weekdaytrips.at[row_value,'hr_bin'] = 'Afternoon'
    if row_index['Hour'] >= 16 and row_index['Hour'] < 20:
        weekdaytrips.at[row_value,'hr_bin'] = 'PM Rush'
    if row_index['Hour'] >= 20 or row_index['Hour'] < 5:
        weekdaytrips.at[row_value,'hr_bin'] = 'Night'
        
weekdaytrips

In [ ]:
trips_table['hour'] = trips_table['pubtimestamp'].dt.hour

In [ ]:
trips_table['weekday'] = trips_table['pubtimestamp'].dt.weekday

In [ ]:
trips_table['weekday_num'] = trips_table['pubtimestamp'].dt.weekday

In [ ]:
hour_count = trips_table.groupby(['weekday'])[['weekday','hour']].value_counts()

In [ ]:
hour_count = hour_count.reset_index()

In [ ]:
hour_count.columns = ['Weekday', 'Hour', 'Count']

In [ ]:
hour_count

In [ ]:
hour_count['Weekend'] = ' '

for row_value, row_index in hour_count.iterrows():
    if row_index['Weekday'] < 5:
        hour_count.at[row_value, 'Weekend'] = 'Weekday'
    if row_index['Weekday'] >= 5:
        hour_count.at[row_value, 'Weekend'] = 'Weekend'
        
hour_count

In [ ]:
hour_count.loc[hour_count['Weekend'] == 'Weekday']

weekdaytrips = hour_count.loc[hour_count['Weekend'] == 'Weekday']
weekdaytrips = weekdaytrips.drop(columns = ['Weekday','Weekend'])
weekdaytrips = weekdaytrips.groupby('Hour').sum()
weekdaytrips = weekdaytrips.reset_index()
weekdaytrips['hr_bin'] = ''

for row_value, row_index in weekdaytrips.iterrows():
    if row_index['Hour'] >= 5 and row_index['Hour'] < 10:
        weekdaytrips.at[row_value,'hr_bin'] = 'AM Rush'
    if row_index['Hour'] >= 10 and row_index['Hour'] < 16:
        weekdaytrips.at[row_value,'hr_bin'] = 'Afternoon'
    if row_index['Hour'] >= 16 and row_index['Hour'] < 20:
        weekdaytrips.at[row_value,'hr_bin'] = 'PM Rush'
    if row_index['Hour'] >= 20 or row_index['Hour'] < 5:
        weekdaytrips.at[row_value,'hr_bin'] = 'Night'
        
weekdaytrips

In [ ]:
sns.barplot(data = weekdaytrips, x = 'hr_bin', y = 'Count', hue = hour_count.Weekend)